:root{
    --backgoundColor:#1f1f1f;
    --textColor:#f1f1f1;

}




*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background: var(--backgoundColor);
    color: var(--textColor);
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5em 1em;
    background: var(--backgoundColor);
}
header i{
    font-size: 120%;
}









/**footer section**/
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5em;
    font-size: 120%;
    background: var(--backgoundColor);
    cursor: pointer;
}

footer .icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active i{
    color: aquamarine;
}


